<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="order">
      <h2 data-cy="orderDetailsHeading"><span jhiTranslate="coopcycleApp.order.detail.title">Order</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ order.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.order.iDorder">I Dorder</span></dt>
        <dd>
          <span>{{ order.iDorder }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.order.iDcooperative">I Dcooperative</span></dt>
        <dd>
          <span>{{ order.iDcooperative }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.order.iDcustomer">I Dcustomer</span></dt>
        <dd>
          <span>{{ order.iDcustomer }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.order.iDcourse">I Dcourse</span></dt>
        <dd>
          <span>{{ order.iDcourse }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.order.iDproduct">I Dproduct</span></dt>
        <dd>
          <span>{{ order.iDproduct }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.order.totalPrice">Total Price</span></dt>
        <dd>
          <span>{{ order.totalPrice }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.order.date">Date</span></dt>
        <dd>
          <span>{{ order.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.order.state">State</span></dt>
        <dd>
          <span jhiTranslate="{{ 'coopcycleApp.State.' + order.state }}">{{ order.state }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.order.quantityAsked">Quantity Asked</span></dt>
        <dd>
          <span>{{ order.quantityAsked }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.order.productAvailable">Product Available</span></dt>
        <dd>
          <span>{{ order.productAvailable }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.order.product">Product</span></dt>
        <dd>
          <span *ngFor="let product of order.products; let last = last">
            <a [routerLink]="['/product', product?.id, 'view']">{{ product.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.order.course">Course</span></dt>
        <dd>
          <div *ngIf="order.course">
            <a [routerLink]="['/course', order.course?.id, 'view']">{{ order.course?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.order.customer">Customer</span></dt>
        <dd>
          <div *ngIf="order.customer">
            <a [routerLink]="['/customer', order.customer?.id, 'view']">{{ order.customer?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.order.cooperative">Cooperative</span></dt>
        <dd>
          <div *ngIf="order.cooperative">
            <a [routerLink]="['/cooperative', order.cooperative?.id, 'view']">{{ order.cooperative?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/order', order.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
