<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-menu-heading" data-cy="MenuCreateUpdateHeading" jhiTranslate="coopcycleApp.menu.home.createOrEditLabel">
        Create or edit a Menu
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcycleApp.menu.iDmenu" for="field_iDmenu">I Dmenu</label>
          <input type="number" class="form-control" name="iDmenu" id="field_iDmenu" data-cy="iDmenu" formControlName="iDmenu" />
          <div *ngIf="editForm.get('iDmenu')!.invalid && (editForm.get('iDmenu')!.dirty || editForm.get('iDmenu')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('iDmenu')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('iDmenu')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcycleApp.menu.iDcooperative" for="field_iDcooperative">I Dcooperative</label>
          <input
            type="number"
            class="form-control"
            name="iDcooperative"
            id="field_iDcooperative"
            data-cy="iDcooperative"
            formControlName="iDcooperative"
          />
          <div
            *ngIf="
              editForm.get('iDcooperative')!.invalid && (editForm.get('iDcooperative')!.dirty || editForm.get('iDcooperative')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('iDcooperative')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('iDcooperative')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcycleApp.menu.lastupdate" for="field_lastupdate">Lastupdate</label>
          <div class="d-flex">
            <input
              id="field_lastupdate"
              data-cy="lastupdate"
              type="datetime-local"
              class="form-control"
              name="lastupdate"
              formControlName="lastupdate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcycleApp.menu.cooperative" for="field_cooperative">Cooperative</label>
          <select class="form-control" id="field_cooperative" data-cy="cooperative" name="cooperative" formControlName="cooperative">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                cooperativeOption.id === editForm.get('cooperative')!.value?.id ? editForm.get('cooperative')!.value : cooperativeOption
              "
              *ngFor="let cooperativeOption of cooperativesSharedCollection; trackBy: trackCooperativeById"
            >
              {{ cooperativeOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
